DEVOPS_TELEGRAM_BOT_TOKEN=
DEVOPS_TELEGRAM_ALLOWED_USER_IDS=
DEVOPS_TELEGRAM_CHAT_IDS=
DEVOPS_SESSION_TIMEOUT_SECONDS=
SOPHIE_DEVOPS_API_URL=
SOPHIE_DEVOPS_API_TOKEN_FILE=
SOPHIE_DEVOPS_API_TIMEOUT_SECONDS=
